body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  } 
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }

  .categories {
    padding-top: 3rem;
    color:#dbbb2c;
  }

  .categories h4 {
    font-weight: bolder;
  }

  @media (max-width: 767px) {
    .main {
      padding: 3rem;
    }
    .button {
      display: block;
      margin: 0 auto;
    }
  }    
  


  