body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  } 
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }

  .categories {
    padding-top: 3rem;
    color:#59b5d9;
  }

  .categories h4 {
    font-weight: bolder;
  }

  .about {
    padding-top: 5rem;  
  }

  .about h5 {
    line-height: 1.7rem;
  }

  .content {
padding: 0 3rem;  }


  @media (max-width: 767px) {
    .about {
      padding: 4rem 4rem 0 4rem;
    }
    .button {
      display: block;
      margin: 0 auto;
    }
  }    
  


  