body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  } 

  .grid-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 57.3px 57.3px;
    background-color: #ffffffa2; 
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }

  .categories {
    padding-top: 3rem;
    color:#4b4848;
  }

  .categories h4 {
    font-weight: bolder;
  }

  .about {
    padding-top: 3rem;  
  }

  .about h5 {
    line-height: 1.7rem;
  }

  .content {
padding: 0 3rem;  }


  @media (max-width: 767px) {
    .about {
      padding: 2rem 2rem 0 2rem;
    }
    .button {
      display: block;
      margin: 0 auto;
    }
  }    
  


  